.container {
    background-color: lightgray;
    padding: 20px;
    position: relative;
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
}
.item {
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 24px 24px;
    width: 200px;
    height: 200px;

}

.item:first-child {
    background-color: lightblue;
    position: sticky;
    top: 0;
}

.item:nth-child(2) {
    background-color: blue;

}
.item:nth-child(3) {
    background-color:greenyellow;
}
.item:nth-child(4) {
    background-color:yellow;
}
.item:last-child{
    background-color: brown;

}
